* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

tooltip {
    background: rgba(28, 26, 44, 0.85);
    border-radius: 8px;
    border: 1px solid rgba(89, 89, 89, 0.67);
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #808080;
    margin-right: 5px;
} 

#workspaces button.active {
    color: #cdd6f4;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #ffffff;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-swaync,
#custom-git_unclean,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    padding: 0px 8px;
    margin: 1px 0px;
    border: 0px;
}

/* this needs sorting out so the components aren't noob css */
.modules-left,
.modules-right {
    background: rgba(0,0,0,0);
    border: 1px solid rgba(89, 89, 89, 0);
    border-top: none; /* Removes the top border */
    margin: 0px 10px 0px 10px; /* Removes the top margin */
    border-radius: 0 0 8px 8px; /* Adjusts border-radius so top corners are square */
}


#tray, #custom-lock_screen, #temperature, #backlight, #custom-launch_wofi, #cpu {
    border-radius: 10px 0px 0px 10px;
}

#custom-light_dark, #custom-power_btn, #workspaces, #pulseaudio.microphone, #battery, #disk, #custom-swaync {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: #cdd6f4;
    margin-left: 10px;
    border-right: 0px;
}

#custom-git_unclean {
    color: #cdd6f4;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-left: 0px;
}